.event{
  position: relative;
  box-sizing: border-box;
  overflow:auto;
  background-color: white;
  color:var(--bodycolor);
  border-radius: 5px;
  margin-bottom:8%;
}

.nametext{
  color:var(--logocolor);
  line-height: 1.1em;
  letter-spacing: 1.9px;
  padding-left: 5%;
  padding-top:5%;
  padding-bottom: 3%;
  font-family: "Helvetica", Sans-serif;
  font-style: italic;
}
.clocktext{
  display: flex;
  justify-content: flex-start;
  color:var(--bodycolor);
  padding-left: 5%;
  font-size: .9em;
}
.clockclip{
  height:20px;
  background-color: var(--bodycolor);
  aspect-ratio:1/1;
  margin-right: 2%;
  clip-path:polygon(4.8% 50.6%,5.4% 44.2%,7.0% 37.6%,9.0% 32.6%,11.4% 27.8%,15.0% 22.4%,19.8% 17.4%,25.8% 13.4%,31.4% 10.2%,38.2% 8.6%,45.4% 7.0%,50.6% 6.4%,56.2% 7.2%,63.4% 8.6%,73.4% 13.0%,
  78.2% 16.0%,83.8% 21.4%,87.8% 26.4%,90.2% 30.4%,92.2% 35.8%,93.6% 39.8%,94.2% 43.4%,94.6% 47.8%,94.4% 57.6%,92.8% 63.8%,91.2% 69.0%,89.4% 73.6%,86.4% 77.8%,83.4% 81.4%,79.8% 85.6%,75.0% 88.8%,
  69.0% 92.6%,63.0% 95.0%,56.6% 96.6%,51.8% 96.8%,44.8% 96.8%,39.0% 96.0%,34.2% 93.8%,28.0% 91.2%,24.0% 88.8%,19.2% 85.6%,15.8% 82.2%,12.6% 77.6%,9.8% 72.8%,7.8% 68.0%,7.0% 64.2%,5.8% 60.6%,
  5.0% 58.2%,5.0% 55.8%,
  4.8% 50.6%,
  13.0% 51.8%,13.4% 55.4%,14.2% 61.6%,16.0% 67.0%,19.2% 72.2%,22.2% 78.4%,27.4% 82.4%,32.0% 85.4%,36.6% 87.4%,41.6% 89.4%,48.2% 90.2%,56.0% 89.8%,64.6% 87.8%,69.0% 85.4%,74.6% 81.8%,78.2% 78.2%,
  81.4% 73.8%,85.4% 68.2%,86.6% 63.8%,87.8% 58.4%,89.0% 53.4%,88.2% 47.4%,87.0% 40.8%,84.8% 35.4%,81.4% 28.8%,76.2% 24.6%,71.0% 19.2%,66.4% 17.8%,61.8% 15.8%,57.8% 15.0%,50.4% 13.8%,45.4% 14.6%,
  38.6% 17.0%,29.0% 20.6%,25.4% 24.6%,21.4% 29.0%,19.0% 32.0%,16.0% 36.6%,14.2% 40.6%,13.0% 47.8%,13.0% 51.8%,
  4.8% 50.6%,
  46.6% 19.8%,46.2% 53.8%,67.0% 78.4%,71.8% 75.4%,52.6% 51.4%,52.6% 20.6%,46.6% 19.8%,
  4.8% 50.6%);
}
.descriptiontext{
  padding:5%;
  font-size: 1em;
}
.datebanner{
  width:90%;
  padding: 5%;
  background-color: var(--logocolor);
}
.hostedby{
  font-size: 1.1;
  font-style: italic;
}
.linkclip{
  clip-path:polygon(58.6% 75.0%,38.6% 95.2%,36.6% 97.0%,32.8% 98.6%,31.0% 99.2%,27.0% 100.2%,21.6% 100.0%,17.0% 99.0%,13.4% 97.4%,9.8% 95.0%,7.4% 92.8%,5.6% 91.0%,4.6% 88.0%,
    3.4% 85.4%,2.2% 81.6%,1.8% 79.4%,2.2% 76.8%,2.2% 72.8%,3.0% 69.0%,4.8% 65.6%,6.2% 63.0%,31.0% 36.6%,36.6% 33.6%,41.4% 32.2%,45.4% 31.8%,49.4% 32.2%,54.2% 33.8%,
    59.2% 36.6%,63.0% 38.4%,63.8% 41.4%,63.8% 43.4%,63.2% 46.2%,60.6% 48.2%,59.8% 49.4%,56.8% 49.4%,54.6% 48.6%,52.2% 47.0%,50.2% 45.6%,48.0% 44.8%,44.2% 44.8%,
    40.6% 46.2%,17.8% 67.8%,15.4% 71.0%,15.0% 74.4%,14.2% 78.2%,15.8% 82.6%,17.0% 85.0%,20.2% 87.0%,23.8% 87.8%,27.8% 87.2%,31.2% 85.4%,43.8% 73.0%,45.6% 73.8%,
    48.6% 75.2%,52.2% 75.8%,54.6% 75.8%,
    58.6% 75.0%,
    41.6% 25.8%,62.2% 5.6%,65.4% 3.8%,69.4% 1.8%,73.8% 1.4%,78.2% 1.0%,84.6% 2.2%,87.8% 4.2%,92.0% 7.0%,96.6% 12.2%,97.6% 15.4%,98.6% 18.6%,
    99.0% 21.6%,99.0% 26.6%,97.8% 30.2%,97.0% 33.4%,95.0% 38.2%,67.8% 65.6%,63.2% 67.8%,58.4% 68.8%,53.6% 68.8%,48.6% 68.2%,44.8% 66.4%,41.4% 64.6%,
    39.2% 61.8%,37.6% 59.8%,37.4% 57.8%,37.8% 56.0%,39.0% 53.6%,42.4% 52.2%,43.8% 51.4%,46.6% 52.6%,49.0% 54.2%,51.4% 56.2%,55.4% 56.2%,
    60.2% 55.8%,84.6% 31.2%,86.2% 28.6%,87.0% 25.6%,87.0% 21.4%,85.8% 19.0%,84.6% 16.0%,82.2% 14.2%,79.4% 13.0%,76.0% 13.4%,72.0% 14.4%,
    68.6% 16.2%,56.8% 28.2%,55.2% 27.2%,49.4% 25.4%,47.0% 25.4%,44.6% 25.4%,41.6% 25.8%,
    58.6% 75.0%)
}
.linkcolor{
  background-color: #8B65FF;
}
.eventlink{
  position: relative;
  margin-left: 5%;
  width:50%;
  height: 5vh;
}


.time{
  color:var(--textcolor2)
}
.almostfullfill{
  width:100%;
  display: flex;
  margin-top:2%;
}
.eventimagehouse{
  height:25vh;
  width:100%;
  display: flex;
}
.eventimage{
  width:100%;
  height:100%;
  max-height: 100%;
  max-width: 100%;
  margin:auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.seperator{
  height: 5px;
  border-radius: 20px;
  background-color: black;
  opacity: .7;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  margin-top:3%;
  margin-bottom: 1%;
}
.button{
  border:5px solid var(--buttonborder);
  box-sizing: border-box;
  background-color: var(--buttonbackcolor);
  color:var(--buttontextcolor);
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bolder;
}
