.guidehouse{
  position: relative;
  top:1%;
  height:98%;
  width:98%;
  margin:auto;
  font-size: .8em;
}
.guidebody{
  position: relative;
  height:90%;
  width:100%;
  background-color: white;
  display: grid;
  padding:0%;
  box-sizing: border-box;
}
.page1body{
  grid-template-rows:15% 15% 15% 15% 15% 15% 8%;
}
.page2body{
  grid-template-rows: 15% 15% 15% 15% 15% 15% 7%
}
.page3body{
  grid-template-rows:8% 12% 7% 20% 8% 38%;
  grid-row-gap: 1%;
}
.page3body{
  grid-template-rows:15% 15% 15% 25% 15% 8%;
  grid-row-gap: 1%;
}
.page4body{
  background-color: var(--bodycolor);
  grid-template-rows:20% 45% 8%;
  grid-row-gap: 13%;
}

.guideitem{
  display: grid;
  grid-template-columns: 60% 40%;
}
.moretextitem{
  display: grid;
  grid-template-columns: 70% 30%;
}
.guidetext{
  color:black;
  width:94%;
}
.examplebutton{
  position: relative;
  height: 50%;
  width:80%;
  margin: auto;
  top:25%;
}
.inputlistone{
  display: grid;
  grid-template-rows: auto auto auto auto;
}
.bottomitem{
  display: grid;
  grid-template-columns: 35% 30% 35%;
}
.next{
  color:var(--blacktext);
  display: flex;
}
.arrow{
  background-color: black;
  margin:auto;
  height: 100%;
  aspect-ratio:1 / 1;
  float: left;
  clip-path:polygon(30% 10%,90% 50%,30% 90%,0% 90%,60% 50%,0% 10%);
}
.prevarrow{
  rotate:180deg;
}
.minical{
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.minitimes{
  display: grid;
  grid-template-rows: 33% 34% 33%;
}
.eventborder{
  box-sizing: border-box;
  border: 2px solid var(--logocolor);
}
.bodymargin{
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
}
.minievent{
  background-color: var(--bodycolor);
}
.testevent{
  margin: auto;
}
