.bodymargin{
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
}
.titletext{
  font-size: 1.8em;
  color:var(--textcolormain);
  text-decoration: underline;
  font-family: 'Syne',sans-serif;
  font-weight: 700;
  line-height: 1.17em;
  padding-top: 10%;
  padding-bottom: 5%;
}
.limitwidth{
  width:80%;
}
.minortext{
  font-size: 1em;
  color:var(--textcolormain);
  line-height: 1.5em;
  font-weight: 250;
}
.paddingbot12{
  padding-bottom:12%;
}
.programtext{
  font-size: 1.4em;
  color:var(--logocolor);
  font-weight: 700;
}
.pagecontent{
  width:100%;
  overflow: auto;
}
.selectdatehouse{
  height:7vh;
  display: grid;
  grid-template-columns: 20% 35% 25% 20%;
  box-sizing: border-box;
  background-color: var(--buttonborder);
}
.map{
  width:100%;
  aspect-ratio:1/1;
}
.addresstext{
  color: var(--logocolor);
  font-size: .8em;
  margin-top:8%;
  margin-bottom:8%;
  font-weight: 700;
}
.formmargin{
  margin-bottom: 5%;
}
.maininput{
  width:65%;
  height:5vh;
  margin-bottom: 8%;
}
.mainsub{
  display: flex;
  height:6vh;
  width:50%;
  background-color: var(--logocolor);
  color:var(--textcolormain);
}
.footer{
  display: grid;
  min-height: 25px;
  height: 15%;
  background-color: var(--logocolor);
  width: 100%;
  grid-template-rows: 50% 50%;
  color:var(--textcolormain);
  margin-top:15%;
}
.bottomfoot{
  display: grid;
  width:100%;
  grid-template-columns: 50% 50%;
  color:var(--bodycolor);
}
.bottomflex{
  display: flex;
}
.instaclip{
  clip-path:polygon(2.0% 51.0%,2.0% 24.0%,2.6% 20.0%,3.2% 16.0%,5.2% 12.0%,7.8% 9.0%,10.4% 6.6%,12.8% 4.6%,15.6% 3.2%,18.6% 2.0%,20.8% 1.4%,25.0% 1.0%,75.0% 1.0%,79.0% 2.0%,83.0% 3.4%,
    86.2% 4.6%,89.4% 7.0%,91.8% 9.2%,93.2% 11.0%,95.0% 14.0%,96.0% 17.0%,97.0% 19.0%,98.0% 24.0%,98.0% 74.0%,97.0% 77.0%,96.0% 81.0%,94.0% 85.0%,92.0% 88.0%,90.0% 90.0%,88.0% 92.0%,86.0% 94.0%,
    84.0% 95.0%,80.0% 97.0%,76.0% 98.0%,27.0% 98.0%,21.0% 97.0%,15.0% 95.0%,12.0% 93.0%,8.0% 90.0%,4.6% 86.2%,3.6% 84.0%,2.4% 80.0%,2.0% 77.0%,2.0% 51.0%,9.0% 49.0%,9.0% 73.0%,10.2% 77.0%,
    12.0% 81.0%,15.0% 85.0%,17.0% 87.0%,19.6% 88.8%,23.6% 90.4%,27.0% 91.0%,73.0% 92.0%,77.6% 90.0%,81.0% 88.0%,85.0% 85.0%,87.0% 83.0%,89.4% 79.2%,91.0% 76.0%,91.0% 26.0%,89.4% 21.0%,88.0% 18.0%,
    85.4% 14.0%,83.0% 11.8%,78.0% 9.0%,75.0% 9.0%,27.0% 9.0%,22.0% 9.6%,18.4% 10.6%,15.0% 13.0%,13.0% 16.0%,11.0% 19.0%,10.0% 24.0%,9.0% 30.0%,9.0% 49.0%,2.0% 51.0%,25.0% 53.0%,25.0% 49.0%,
    25.2% 45.8%,26.6% 42.0%,29.0% 39.0%,31.0% 36.0%,34.0% 32.8%,37.0% 31.0%,41.0% 29.0%,44.8% 27.6%,50.0% 27.0%,58.0% 28.0%,63.2% 30.6%,67.4% 33.6%,70.4% 36.6%,73.0% 41.0%,75.0% 45.0%,75.6% 49.0%,
    75.8% 53.0%,74.6% 59.2%,73.6% 63.2%,71.4% 67.0%,68.8% 70.8%,64.0% 75.0%,59.0% 77.0%,54.0% 78.0%,47.0% 78.0%,40.8% 76.4%,36.0% 74.6%,32.0% 71.0%,30.0% 68.0%,28.0% 65.0%,26.0% 61.0%,25.0% 55.0%,
    25.0% 53.0%,32.0% 53.0%,33.0% 57.0%,35.0% 62.0%,37.0% 65.0%,41.0% 68.6%,44.0% 70.0%,49.0% 71.0%,53.0% 71.0%,58.0% 69.0%,61.0% 67.0%,64.0% 65.0%,66.0% 62.0%,68.0% 58.0%,68.4% 53.0%,68.0% 48.0%,
    67.0% 45.0%,65.0% 42.0%,62.0% 39.0%,59.2% 36.8%,55.0% 35.0%,51.0% 35.0%,47.0% 35.0%,43.6% 35.6%,40.0% 37.0%,37.6% 38.8%,34.0% 43.0%,33.0% 46.0%,32.0% 53.0%,2.0% 51.0%,72.0% 22.0%,72.0% 21.0%,
    73.0% 20.0%,75.0% 19.0%,78.0% 19.0%,79.4% 20.0%,80.2% 20.8%,81.0% 23.0%,81.0% 25.0%,80.4% 26.2%,79.2% 27.2%,78.0% 28.0%,75.0% 28.0%,73.6% 27.0%,72.6% 26.0%,72.0% 25.0%,72.0% 22.0%,2.0% 51.0%
  );
  background-color: white;
  height:20px;
  aspect-ratio:1/1;
  margin:auto;
}
.letterclip{
  clip-path:polygon(
    3.8% 23.4%,35.8% 49.6%,3.8% 75.4%,
    3.8% 23.4%,
    7.0% 22.2%,95.2% 22.4%,51.2% 57.8%,7.0% 22.2%,
    3.8% 23.4%,
    66.4% 50.2%,97.8% 24.2%,97.8% 75.0%,66.4% 50.2%,
    3.8% 23.4%,
    10.2% 75.2%,38.4% 51.8%,51.0% 61.4%,63.4% 52.0%,92.6% 75.2%,10.2% 75.2%,
    3.8% 23.4%);
    background-color: white;
    height:20px;
    aspect-ratio:1/1;
    margin:auto;
}

.fullfilldate{
  display: flex;
  height:95%;
  width:95%;
  min-height: 0;
  background-color: var(--main);
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
}
.datebutton{
  height:95%;
  width:95%;
  margin:auto;
  box-sizing: border-box;
  display: flex;
  border-radius: 50px;
  background-color: var(--buttonbackcolor)
}
.magclip{
  background-color: var(--main);
  height:50%;
  aspect-ratio:1 / 1;
  max-width: 50%;
  margin:auto;
  clip-path:polygon(74.4% 83.8%,69.4% 86.4%,65.0% 89.0%,61.6% 91.2%,55.8% 93.0%,52.6% 94.4%,47.4% 95.0%,42.6% 95.0%,37.0% 94.2%,29.8% 92.6%,22.6% 89.4%,18.2% 86.6%,13.8% 83.8%,11.0% 80.0%,6.6% 75.0%,
    4.2% 70.4%,2.6% 66.2%,1.4% 62.2%,0.2% 57.4%,0.6% 43.8%,1.6% 39.8%,3.2% 36.2%,4.6% 32.0%,6.4% 28.8%,9.0% 24.6%,11.8% 20.2%,15.2% 17.4%,20.6% 13.6%,25.4% 10.4%,29.8% 8.8%,35.0% 7.4%,
    40.2% 7.0%,44.8% 7.0%,48.8% 7.0%,54.2% 7.8%,59.2% 9.4%,62.4% 10.4%,65.4% 12.0%,68.8% 13.8%,73.0% 17.0%,75.4% 19.8%,78.4% 22.6%,81.0% 26.4%,82.6% 30.4%,84.6% 33.6%,85.8% 36.2%,87.2% 40.6%,
    87.8% 45.0%,88.0% 50.4%,98.4% 51.0%,79.4% 75.8%,60.6% 51.0%,71.4% 50.6%,71.0% 46.2%,69.8% 41.8%,68.8% 39.4%,66.4% 35.4%,63.8% 32.0%,60.2% 29.4%,56.2% 25.8%,51.0% 24.2%,47.8% 23.4%,41.8% 23.8%,
    36.6% 24.8%,31.2% 27.0%,26.6% 29.8%,23.0% 33.8%,20.6% 37.0%,18.2% 40.6%,17.4% 45.0%,17.0% 47.8%,17.4% 53.4%,18.2% 57.0%,19.0% 61.6%,20.2% 65.0%,23.2% 68.8%,26.2% 71.8%,30.4% 75.0%,35.0% 76.2%,
    39.2% 77.8%,44.6% 78.2%,49.4% 77.4%,55.8% 76.0%,58.2% 73.8%,61.6% 72.6%,64.6% 69.8%,74.4% 83.8%)
}
.bottomtext{
  color:var(--textcolormain);
}
.hide{
  display: none;
}
