.bodymargin{
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
}
.mininav{
  height: 7%;
  display: flex;
  justify-content: space-around;
  font-size:.7em
}
.mininavitem{
  background-color: var(--bodycolor);
  height: 90%;
  width:90%;
  margin: auto;
  display: flex;
}
.rightborder{
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.mininavselected{
  background-color: var(--logocolor);
  color:white;
}
.page{
  overflow:auto;
  display: none;
  background-color: white;
  color: var(--logocolor)
}
.profile{
  display: grid;
  grid-template-columns: 50% 50%;
  width:100%;
  overflow: auto;
}
.pichouse{
  width:100%;
  height:100%;
  display: grid;
  grid-template-rows: 80% 20%;
}
.pic{
  width:100%;
  height: 100%;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.picin{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.editnamesize{
  width:100%;
  max-width: 500px;
  height:8vh;
}
.editnamebackcolor{
  background-color: #D19800;
  border:none;
}
.savebuttonsize{
  width:100%;
  max-width: 30vw;
  height:10vh;
  border: none;
  display: none;
}
.savecolor{
  background-color: #12B7DE;
}
.loadhouse{
  position: relative;
  width:100%;
  height:100%;
  display: none;
  background-color: var(--main);
}
.batterysize{
  height: 100%;
  width:100%;
  margin: auto;
  display: flex;
}
.uploadclip{
  clip-path:polygon(30.2% 28.6%,51.8% 7.0%,72.0% 27.0%,72.0% 35.2%,61.0% 35.8%,60.6% 59.2%,42.6% 59.0%,42.2% 36.2%,30.6% 36.6%,30.2% 28.6%,
      16.6% 60.2%,16.2% 79.2%,19.0% 83.4%,83.2% 83.8%,87.4% 79.8%,87.4% 61.4%,86.4% 59.8%,
      80.6% 59.4%,80.0% 71.0%,79.8% 76.8%,76.2% 76.2%,75.8% 71.2%,80.0% 71.0%,80.6% 59.4%,
      70.2% 59.8%,70.2% 70.6%,69.8% 76.8%,64.8% 77.0%,65.4% 70.6%,70.2% 70.6%,70.2% 59.8%,
      64.0% 59.8%,60.0% 65.0%,43.2% 65.4%,39.0% 60.6%,16.6% 60.2%,
      30.2% 28.6%)
}
.batterybodycolor{
  background-color:#F4C800;
}
.batterytextcolor{
  color:#2E2E2E;
}

#loadpic{
   opacity: 0;
   position: absolute;
   z-index: -1;
}
.loadpic{
  margin: auto;
}
.topinfohouse{
  width:100%;
  display: block;
  overflow: auto;
}
.contacthouse{
  width:90%;
  overflow: auto;
  padding: 5%;
  display: flex;
  overflow-wrap: anywhere;
}
.orghouse{
  width:90%;
  display: block;
  overflow: auto;
  margin:auto;
  grid-column: 1 / span 2;
  padding:5%;
}
.orgintro{
  width:100%;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.orgitem{
  width:80%;
  margin-top:3%;
  margin-bottom:3%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  display: flex;
  height:8vh;
}
.organizationbody{
  height: 100%;
  width:100%;
}
.orgbar{
  height:8vh;
  width:100%;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: var(--bodycolor);
  padding-bottom: 5%;
}
.orgserachhouse{
  height: 100%;
  width:100%;
}
.orginput{
  box-sizing: border-box;
  border: 2px solid black;
  height:100%;
  width:100%;
  margin: auto;
}
.neworghouse{
  border: 2px solid black;
  box-sizing: border-box;
  height:94%;
  width:90%;
  margin: auto;
  display: flex;
  background-color: white;
}
.orgsearchresult{
  position: absolute;
  top:22vh;
  width:59%;
  height:0%;
  border:2px solid black;
  z-index: 10;
  background-color: white;
}
.searchelement{
  height: 10%;
  width:100%;
  display: flex;
}
.orgpage{
  width:100%;
  overflow: auto;
  display: none;
}
.topic{
  width:100%;
  overflow: auto;
  border-bottom:30px solid var(--bodycolor);
}
.neghouse{
  background-color: var(--logocolor);
  color:white;
}
.requesthouse{
  height:10vh;
  width:100%;
  margin-top:10%;
  display: flex;
}
.requestx{
  height:5vh;
  width:100%;
  display: flex;
  margin-top:5%;
}
.visit{
  height:90%;
  width:95%;
  margin:auto;
  display: flex;
}
.negvisit{
  padding:2%;
  display: flex;
}
.admintitle{
  height:90%;
  width:95%;
  margin:auto;
  border-bottom:5px solid black;
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
}

.neweventformwindow{
  position: absolute;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
  background-color: rgba(23, 23, 23, .7);
  z-index: 15;
  display:none;
}
.neweventhouse{
  position: relative;
  top:5%;
  height:95%;
  width:90%;
  margin:auto;
}
.topbar{
  position: relative;
  height:7%;
  width:100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.neweventform{
  position: relative;
  height:90%;
  width:100%;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  padding:0%;
  box-sizing: border-box;
}
.eventinput{
  position:relative;
  height: 92%;
  width:90%;
  border: 2px solid black;
  box-sizing: border-box;
  padding:0%;
  margin:auto;
  color:var(--logocolor)
}
.borderweg{
  border:none;
}
.inputhouse{
  display: flex;
  justify-content: space-between;
}
.eventbutton{
  height: 92%;
  width:90%;
  display: flex;
  margin:auto;
  background-color: var(--logocolor);
  color:white;
}

.removebutton{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top:2%;
  margin-bottom:2%;
  height: 7vh;
  width:86%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
  overflow: hidden;
  background-color:#2E2E2E;
}
.trashhouse{
  background-color: #2E2E2E;
}
.traschcan{
  height:45%;
  margin:auto;
  aspect-ratio:1/1;
  background-color: #12B7DE;
  clip-path:polygon(0% 34%,34% 34%,34% 0%,68% 0%,68% 34%,100% 34%,100% 68%,
    68% 68%,68% 100%,34% 100%,34% 68%,0% 68%)
}
.removehouse{
  background-color:#12B7DE;
  clip-path:polygon(0% 0%,100% 0%,100% 100%,0% 100%,
      0% 60%,5% 50%,0% 40%,0% 0%)
}
.removetext{
  color:#2E2E2E;
  font-size: .9em;
  font-family: 'Courier New', monospace;
}
.saveclip{
  height:45%;
  max-width: 100%;
  margin:auto;
  aspect-ratio:1/1;
  background-color: #12B7DE;
  clip-path:polygon(3.7% 16.7%,3.6% 14.1%,4.1% 12.0%,5.0% 10.1%,6.0% 8.6%,
    8.4% 6.9%,10.7% 5.6%,13.3% 4.7%,75.4% 4.9%,77.1% 5.1%,81.0% 7.1%,84.9% 10.0%,
    95.7% 21.9%,96.0% 22.4%,96.3% 24.1%,96.6% 86.9%,96.6% 88.9%,95.6% 91.0%,
    95.1% 92.6%,94.1% 94.0%,92.4% 95.3%,90.6% 96.6%,88.7% 97.0%,86.6% 97.7%,
    14.9% 97.6%,12.3% 97.3%,8.6% 96.1%,6.3% 94.0%,5.4% 92.6%,
    4.7% 91.6%,3.7% 89.4%,3.7% 16.7%,
    21.6% 13.3%,21.6% 34.3%,21.7% 38.3%,22.4% 39.3%,23.7% 40.1%,
    25.9% 40.6%,71.1% 40.4%,73.9% 39.4%,74.7% 38.7%,75.3% 36.9%,75.0% 11.9%,
    68.0% 12.0%,68.0% 37.0%,57.1% 36.9%,57.0% 11.9%,75.3% 12.0%,74.7% 9.7%,
    73.9% 9.1%,73.1% 8.7%,71.7% 8.1%,23.9% 8.4%,22.9% 9.0%,22.1% 10.1%,
    21.4% 11.6%,21.6% 13.3%,
    3.7% 16.7%,
    14.3% 55.4%,14.3% 90.3%,14.6% 92.0%,15.4% 92.9%,16.6% 93.7%,18.6% 94.1%,
    83.0% 94.0%,84.4% 93.4%,84.9% 92.7%,85.6% 92.0%,86.0% 90.6%,85.9% 54.7%,
    85.4% 52.9%,84.4% 51.9%,84.1% 51.6%,82.4% 51.3%,20.6% 51.3%,18.1% 51.4%,
    16.0% 51.7%,14.9% 52.9%,14.3% 55.4%);
}
.deleteclip{
  clip-path:polygon(20.8% 18.8%,34.0% 4.0%,65.0% 3.4%,78.8% 18.0%,97.6% 18.0%,97.6% 25.8%,88.8% 26.0%,88.2% 86.6%,80.6% 95.0%,18.6% 95.8%,10.8% 88.6%,10.2% 25.8%,1.6% 25.4%,1.6% 18.8%,
    20.8% 18.8%,
    20.0% 26.4%,19.8% 83.8%,24.2% 88.2%,
    73.6% 88.6%,78.8% 84.0%,78.8% 26.4%,20.0% 26.4%,
    20.8% 18.8%,
    35.2% 17.8%,63.0% 18.6%,57.8% 11.2%,40.6% 11.2%,35.2% 17.8%,
    20.8% 18.8%,
    25.6% 39.0%,36.8% 39.2%,37.0% 73.4%,25.4% 73.0%,25.6% 39.0%,
    20.8% 18.8%,
    42.2% 39.4%,42.2% 73.8%,56.0% 73.4%,56.8% 39.0%,42.2% 39.4%,
    20.8% 18.8%,
    60.6% 39.2%,72.8% 39.0%,73.8% 73.4%,61.6% 73.4%,60.6% 39.2%,
    20.8% 18.8%
    )
}
.linkclip{
  clip-path:polygon(58.6% 75.0%,38.6% 95.2%,36.6% 97.0%,32.8% 98.6%,31.0% 99.2%,27.0% 100.2%,21.6% 100.0%,17.0% 99.0%,13.4% 97.4%,9.8% 95.0%,7.4% 92.8%,5.6% 91.0%,4.6% 88.0%,
    3.4% 85.4%,2.2% 81.6%,1.8% 79.4%,2.2% 76.8%,2.2% 72.8%,3.0% 69.0%,4.8% 65.6%,6.2% 63.0%,31.0% 36.6%,36.6% 33.6%,41.4% 32.2%,45.4% 31.8%,49.4% 32.2%,54.2% 33.8%,
    59.2% 36.6%,63.0% 38.4%,63.8% 41.4%,63.8% 43.4%,63.2% 46.2%,60.6% 48.2%,59.8% 49.4%,56.8% 49.4%,54.6% 48.6%,52.2% 47.0%,50.2% 45.6%,48.0% 44.8%,44.2% 44.8%,
    40.6% 46.2%,17.8% 67.8%,15.4% 71.0%,15.0% 74.4%,14.2% 78.2%,15.8% 82.6%,17.0% 85.0%,20.2% 87.0%,23.8% 87.8%,27.8% 87.2%,31.2% 85.4%,43.8% 73.0%,45.6% 73.8%,
    48.6% 75.2%,52.2% 75.8%,54.6% 75.8%,
    58.6% 75.0%,
    41.6% 25.8%,62.2% 5.6%,65.4% 3.8%,69.4% 1.8%,73.8% 1.4%,78.2% 1.0%,84.6% 2.2%,87.8% 4.2%,92.0% 7.0%,96.6% 12.2%,97.6% 15.4%,98.6% 18.6%,
    99.0% 21.6%,99.0% 26.6%,97.8% 30.2%,97.0% 33.4%,95.0% 38.2%,67.8% 65.6%,63.2% 67.8%,58.4% 68.8%,53.6% 68.8%,48.6% 68.2%,44.8% 66.4%,41.4% 64.6%,
    39.2% 61.8%,37.6% 59.8%,37.4% 57.8%,37.8% 56.0%,39.0% 53.6%,42.4% 52.2%,43.8% 51.4%,46.6% 52.6%,49.0% 54.2%,51.4% 56.2%,55.4% 56.2%,
    60.2% 55.8%,84.6% 31.2%,86.2% 28.6%,87.0% 25.6%,87.0% 21.4%,85.8% 19.0%,84.6% 16.0%,82.2% 14.2%,79.4% 13.0%,76.0% 13.4%,72.0% 14.4%,
    68.6% 16.2%,56.8% 28.2%,55.2% 27.2%,49.4% 25.4%,47.0% 25.4%,44.6% 25.4%,41.6% 25.8%,
    58.6% 75.0%)
}
.requestclip{
  clip-path:polygon(
    57.6% 99.2%,5.4% 98.6%,5.4% 74.2%,6.2% 70.4%,7.8% 67.2%,10.2% 63.2%,12.8% 60.6%,16.2% 56.6%,20.6% 53.4%,
    24.2% 51.4%,26.4% 50.2%,30.4% 48.6%,27.8% 45.6%,24.8% 41.4%,23.0% 38.4%,21.4% 34.6%,20.6% 31.2%,20.8% 26.2%,
    21.6% 20.6%,24.2% 14.6%,27.8% 10.2%,30.6% 7.0%,35.2% 4.0%,38.4% 2.2%,43.4% 1.6%,48.6% 1.6%,54.2% 2.4%,
    58.2% 4.2%,61.8% 5.8%,67.0% 9.8%,69.6% 12.6%,72.6% 19.8%,73.6% 23.8%,73.4% 30.2%,72.8% 35.0%,69.8% 41.4%,
    68.6% 44.8%,64.0% 48.2%,66.6% 49.8%,70.2% 51.8%,73.0% 52.8%,75.2% 54.6%,73.8% 57.8%,69.6% 53.8%,66.2% 52.8%,
    63.0% 50.6%,57.6% 49.4%,59.2% 47.8%,62.2% 45.0%,64.8% 40.8%,67.4% 36.0%,69.8% 31.2%,69.8% 23.4%,68.8% 19.4%,
    65.6% 14.6%,62.2% 8.8%,56.6% 6.6%,52.0% 4.6%,46.4% 4.2%,38.4% 6.2%,32.6% 10.2%,29.8% 12.6%,26.6% 17.4%,
    25.4% 20.8%,24.0% 25.4%,24.0% 29.6%,24.8% 34.2%,26.6% 39.4%,30.2% 44.0%,32.6% 46.4%,38.2% 49.4%,33.4% 51.2%,
    29.0% 52.6%,25.0% 55.0%,21.4% 57.0%,18.2% 60.2%,14.4% 63.8%,12.6% 66.4%,10.4% 70.2%,9.0% 73.4%,8.6% 95.2%,
    57.8% 96.0%,
    57.6% 99.2%,
    60.0% 80.2%,60.2% 75.4%,63.0% 70.6%,65.6% 67.8%,68.0% 66.2%,73.4% 64.2%,76.0% 63.4%,82.2% 64.0%,86.2% 65.6%,
    89.4% 68.2%,91.8% 72.0%,93.6% 75.8%,95.0% 80.2%,94.6% 83.8%,94.2% 87.8%,92.2% 91.0%,90.2% 93.8%,87.4% 96.6%,
    85.0% 97.6%,81.0% 99.0%,75.8% 99.2%,71.0% 97.6%,66.4% 94.6%,63.8% 91.4%,60.8% 88.6%,60.6% 81.4%,
    60.0% 80.2%,
    63.2% 80.8%,63.8% 85.0%,66.6% 91.0%,69.6% 93.6%,73.0% 95.2%,76.2% 96.0%,79.2% 95.8%,83.4% 94.4%,85.8% 92.6%,
    89.4% 89.8%,91.4% 85.0%,92.6% 81.0%,92.2% 77.4%,89.6% 72.0%,86.4% 69.4%,83.8% 67.2%,79.4% 66.2%,75.4% 66.4%,
    71.8% 67.2%,69.0% 68.6%,67.2% 71.0%,64.6% 74.4%,63.8% 76.6%,63.0% 78.2%,63.2% 80.8%,
    60.0% 80.2%,
    57.6% 99.2%,
    65.0% 75.6%,72.8% 75.2%,73.0% 69.4%,82.2% 69.2%,82.2% 75.6%,90.0% 75.4%,90.2% 85.8%,81.8% 86.2%,
    82.2% 93.6%,72.6% 93.4%,73.0% 86.2%,65.4% 86.2%,65.0% 75.6%,
    57.6% 99.2%
    )
}
.deletecolor{
  background-color: #A6001A;
}
.linkcolor{
  background-color: #8B65FF;
}
.requestcolor{
  background-color: #35CAFF;
}
.doublehouse{
  height:8vh;
  width:100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.eventdoublehouse{
  margin-top:2%;
}
.doubleout{
  height: 100%;
  width:100%;
  display: grid;
  grid-template-rows: 25% 75%;
  box-sizing: border-box;
  border-radius: 10px;
}
.cliphouse{
  height: 90%;
  aspect-ratio:1/1;
  margin:auto;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
}
.clipbox{
  height:50%;
  aspect-ratio:1/1;
  max-width: 50%;
  margin:auto;
  background-color: white;
}
.approve{
  background-color: #B9FFB3;
  color:#005C19;
  border:3px solid #005C19;
}
.approvebox{
  background-color: #44D943;
  clip-path: polygon(0.0% 50.0%,15.0% 50.0% ,25.0% 40.0% ,40.0% 55.0% ,70.0% 25.0% ,80.0% 35.0% ,40.0% 75.0% ,15.0% 50.0%,0.0% 50.0%,0% 100%,100% 100%,100% 0%,0% 0%);
}
.edit{
  background-color: #AFDBFF;
  color:#4674B8;
  border:3px solid #4674B8;
}
.pencilbox{
  background-color: #D19800;
  clip-path:polygon(
    15.0% 88.2%,27.0% 53.6%,58.6% 22.4%,61.0% 25.0%,30.6% 56.0%,28.2% 55.0%,21.8% 75.0%,24.2% 75.8%,26.2% 77.0%,27.8% 79.0%,28.6% 80.8%,29.4% 81.6%,
    49.6% 75.2%,48.0% 73.6%,78.6% 43.0%,81.8% 45.4%,50.2% 76.8%,
    15.0% 88.2%,
    67.4% 13.4%,90.4% 35.8%,95.4% 31.4%,96.2% 30.2%,96.8% 28.0%,97.0% 25.0%,97.0% 23.0%,95.8% 20.0%,
    85.0% 8.6%,82.6% 7.8%,80.0% 7.2%,76.6% 7.4%,73.4% 8.2%,71.0% 10.4%,67.4% 13.4%,
    15.0% 88.2%,
    61.6% 19.2%,63.8% 16.8%,88.0% 39.8%,85.0% 42.2%,61.6% 19.2%,
    15.0% 88.2%,
    34.2% 60.6%,36.8% 62.4%,68.6% 32.0%,65.6% 29.6%,34.2% 60.6%,
    15.0% 88.2%,
    40.6% 66.4%,71.8% 36.6%,75.0% 39.0%,43.8% 69.4%,40.6% 66.4%,
    15.0% 88.2%,
    0.0% 90.2%,5.4% 89.6%,11.0% 89.4%,11.0% 87.2%,9.6% 86.2%,6.6% 87.0%,0.2% 87.4%,0.0% 90.2%,
    15.0% 88.2%
    )
}
.decline{
  background-color: #FF9395;
  color:#820000;
  border:3px solid #820000;
}
.declinebox{
  background-color: #C90000;
  clip-path: polygon(0% 0%,20.0% 30.0% ,32.0% 18.0% ,50.0% 36.0% ,68.0% 18.0% ,80.0% 30.0% ,62.0% 48.0% ,80.0% 66.0% ,68.0% 78.0% ,50.0% 60.0% ,32.0% 78.0%
    ,20.0% 66.0% ,38.0% 48.0%,20.0% 30.0%,0% 0%,0% 100%,100% 100%,100% 0%);
}

.pullbody{
  height:80%;
  width:90%;
  display: grid;
  grid-template-rows: 60% 40%;
  margin: auto;
}
.pulltextbody{
  display: flex;
}
#pulltext{
  padding:1%;
}
.pullbuttonhouse{
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.pullbuttonhousemini{
  height:30%;
  width:80%;
}
.whiteback{
  background-color: white;
  height:50%;
  width:80%;
  display: flex;
}
.membertext{
  font-size: 1.2em;
}

.drophouse{
  height: 10vh;
  width:100%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.messagesubject{
  height:5vh;
  width:90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  box-sizing: border-box;
}
.messageheader{
  height:5vh;
  width:90%;
  margin-left: 5%;
  margin-bottom: 1%;
  box-sizing: border-box;
}
.messagetext{
  height:40vh;
  width:90%;
  margin:5%;
  box-sizing: border-box;
}
.emailbuttonhouse{
  height: 10vh;
  width:90%;
  margin:5%;
  box-sizing: border-box;
}
.emailbutton{
  width:70%;
  max-width: 250px;
  height:90%;
  margin: auto;
}
.letterclip{
  clip-path:polygon( 3.8% 23.4%,35.8% 49.6%,3.8% 75.4%, 3.8% 23.4%, 7.0% 22.2%,95.2% 22.4%,51.2% 57.8%,7.0% 22.2%, 3.8% 23.4%, 66.4% 50.2%,97.8% 24.2%,97.8% 75.0%,66.4% 50.2%, 3.8% 23.4%, 10.2% 75.2%,38.4% 51.8%,51.0% 61.4%,63.4% 52.0%,92.6% 75.2%,10.2% 75.2%, 3.8% 23.4%);
}
.lettercolor{
  background-color: #0673CC;
  color:white;
}

.selected{
  display: block;
}
