{% extends 'orange/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet" href="{% static 'orange/css/about.css' %}">

<div class="banner"></div>
<div class="bannertext">
  Our Vision:
</div>
<div class="visiontext">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="card">
  <div class="fullfill">
    <div class="cardimg img1"></div>
  </div>
  <div class="cardtext">
    <div class="fullfill">
      <div class="center cardtitle">
        some title
      </div>
    </div>
    <div class="carddes">
      some super llong text about nothing but also something important.
    </div>
  </div>
</div>

<div class="card">
  <div class="cardtext">
    <div class="fullfill">
      <div class="center cardtitle">
        some title
      </div>
    </div>
    <div class="carddes">
      some super llong text about nothing but also something important.
    </div>
  </div>
  <div class="fullfill">
    <div class="cardimg img2"></div>
  </div>
</div>

<div class="card">
  <div class="fullfill">
    <div class="cardimg img3"></div>
  </div>
  <div class="cardtext">
    <div class="fullfill">
      <div class="center cardtitle">
        some title
      </div>
    </div>
    <div class="carddes">
      some super llong text about nothing but also something important.
    </div>
  </div>
</div>

{% endblock %}
