{% extends 'orange/nav.html' %}
{% load static %}

{% block pregroup %}

<link rel="stylesheet" href="{% static 'orange/css/home.css' %}">

  <div class="bodymargin">
    <div class="titletext limitwidth">
      {{language.title1}}
      <br>
      {{language.title2}}
    </div>
  </div>

  <div class="bodymargin">
    <div class="minortext paddingbot12">
      {{language.homedescription}}
    </div>
  </div>

  <div class="bodymargin">
    <div class="programtext">{{language.program}}</div>
  </div>

  <div class="pagecontent">
    {% for day in daylist %}
      {% for newevent in day.events.all %}
        {% include "orange/events.html" with event=newevent elday=day %}
      {% endfor %}
    {% endfor %}
  </div>


  <div class="bodymargin">
    <div class="titletext">
      {{language.where}}
    </div>
  </div>
  <!-- <div class="bodymargin">
    <iframe class="map"
      loading="lazy"
      src="https://maps.google.com/maps?q=schadaugarten%20thun&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near"
      title="schadaugarten thun"
      aria-label="schadaugarten thun">
    </iframe>
  </div> -->

  <div class="bodymargin addresstext">
    Schadaugärtnerei
    <br>
    Seestrasse, 3600 Thun
  </div>

  <div class="bodymargin">
    <div class="titletext">
      {{language.create}}
    </div>
  </div>
  <div class="bodymargin">
    <div class="minortext formmargin">
      {{language.getinfo}}
    </div>
  </div>

  <form class="bodymargin" method="post" action="{% url 'signin' %}">
    {% csrf_token %}
    <input name="username" type="email" class="maininput" value="" placeholder="Email*" required>
    <input name="password" type="password" class="maininput" type="text" value="" placeholder="Password*" required>

    <div class="minortext formmargin">
      {{language.assure}}
    </div>

    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" name="sub" value="signup" class="mainsub">
      <div class="center">
        {{language.createaccount}}
      </div>
    </button>
  </form>

<!-- <div class="selecterback">

</div> -->
<footer class="footer">
<div class="fullfill">
  <div class="center">
    Copyright © 2025 Orangerie Thun
  </div>
</div>
<div class="bottomfoot fullfill">
  <a href="https://www.instagram.com/orangerie_thun/" class="fullfill">
    <div class="center bottomflex">
      <div class="instaclip"></div>
      <span class="bottomtext">&nbsp; {{language.follow}}</span>
    </div>
  </a>
  <a href="mailto:info@orangerie-thun.ch" class="fullfill">
    <div class="center bottomflex">
      <div class="letterclip"></div>
      <span class="bottomtext">&nbsp; {{language.write}}</span>
      <!-- <div class="center bottomtext">&nbsp; {{language.write}}</div> -->
    </div>
  </a>
</div>

</footer>

<script type="text/javascript" src="{% static 'orange/js/home.js' %}"></script>

  {% endblock %}
