{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#C4A4E4">
  <link rel="shortcut icon" type="image/png" href="{% static 'orange/favicon/orange.png' %}"/>
  <link rel="stylesheet"  href="{% static 'orange/css/nav.css' %}">
  <script src="{% static 'orange\jquery-3.6.0.min.js' %}"></script>
  {{ signininfo|json_script:"signininfo" }}

  <body>

    <div class="navbar" id=navbar>
      <div class="left">
        <div class="menuborder navitemsmall slideit">
          <div class="center menuclip"></div>
        </div>

        {% if request.get_full_path == '/' %}<div class="noanchor navitem">{% else %}<a class="noanchor navitem" href="{% url 'home' %}">{% endif %}
          <img fetchpriority="high" width="100%" height="100%" src="{{STATIC_PREFIX}}orange/css/propics/logo.svg" class="custom-logo" alt="orangerie logo" decoding="async">
        {% if request.get_full_path == '/' %}</div>{% else %}</a>{% endif %}

      </div>
      <div class="right">
        {% if request.get_full_path == '/calander' %}<div  href="{% url 'calander' %}" id="calander" class="calhouse" >{% else %}<a  href="{% url 'calander' %}" id="calander" class="calhouse" >{% endif %}
          <div class="fullfill month"><div id="monthnav" class="center">Month</div></div>
          <div class="fullfill navday"><div id="daynav" class="center">28</div></div>
          <div class="fullfill weekday"><div id="daydaynav" class="center">friday</div></div>
        {% if request.get_full_path == '/calander' %}</div>{% else %}</a>{% endif %}
        {% if user.is_authenticated %}
          <{% if request.get_full_path == '/profile' %}div{% else %}a href="{% url 'profile' %}"{% endif %} id="settings" class="navitemsmall profileback" ><div class="center profileclip"></div></{% if request.get_full_path == '/profile' %}div{% else %}a{% endif %}>
          <form class="navitem reversenavitem form" method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit" id="logout" class="fullfill">
              <p class="center">{{navlang.logout}}</p>
            </button>
          </form>
        {% else %}
          <div class="navitem reversenavitem slideit">
            <div class="center">{{navlang.signup}}</div>
          </div>
        {% endif %}
      </div>

    </div>



    <div class="signin" id="signslide">
      <div class="signintop">
        <div id="closesigning" class="x">
          <div class="xclip"></div>
        </div>
      </div>
      <div id="signin">
        <form method="post" action="{% url 'signin' %}">
          {% csrf_token %}
          <div id="userdiv" class="userdiv">
            <div class="fullfill">
              <div class="userpic"></div>
            </div>
            <input type="email" id="userinput" class="fullfill removeall" name="username" value="" placeholder="E-mail" autocomplete="on" required>
            <div class="fullfill">
              <p class="userforgot center">{{navlang.forgot}}</p>
            </div>
          </div>
          <div id="passdiv" class="userdiv">
            <div class="fullfill">
              <div class="lockclip"></div>
            </div>
            <input type="password" id="passinput" class="fullfill removeall" name="password" value="" placeholder="{{navlang.password}}">
            <div class="fullfill">
              <p class="userforgot center">{{navlang.forgot}}</p>
            </div>
          </div>
          {% if legalnext %}
          <input type="hidden" name="next" value="{{ legalnext }}">
          {% else %}
           <input type="hidden" name="next" value="{{ request.path }}">
          {% endif %}
          <button type="submit" name="sub" value="login" class="signinbutton" id="signinbutton">{{navlang.login}}</button>
          <button type="submit" name="sub" value="signup"class="signinbutton" id="signinbutton2">{{navlang.signup}}</button>
          <!-- <div id="signupbutton">Sign up</div> -->
        </form>

        <div id="linediv"></div>

        <{% if request.get_full_path == '/about' %}div{% else %}a href="{% url 'about' %}"{% endif %} id="signinbot1" class="signbotdiv" style="display:table;">
          <div style="display:table-cell;vertical-align:middle;">
            <div class="secondarytext">{{navlang.goal}}</div>
          </div>
        </{% if request.get_full_path == '/about' %}div{% else %}a{% endif %}>

        <{% if request.get_full_path == '/goal' %}div{% else %}a href="{% url 'goal' %}"{% endif %} id="signinbot2" class="signbotdiv" style="display:table;">
          <div style="display:table-cell;vertical-align:middle;">
            <div class="secondarytext">{{navlang.contact}}</div>
          </div>
        </{% if request.get_full_path == '/goal' %}div{% else %}a{% endif %}>

        <{% if request.get_full_path == '/profile' %}div{% else %}a href="{% url 'calander' %}"{% endif %} id="signinbot3" class="signbotdiv" style="display:table;">
          <div style="display:table-cell;vertical-align:middle;">
            <div class="secondarytext">{{navlang.ecal}}</div>
          </div>
        </{% if request.get_full_path == '/profile' %}div{% else %}a{% endif %}>

        <div id="signinbot4" class="signbotdiv">
          <div class="langhouse">
            <div class="fullfill langop" data-lang="en">
              <span class="center">English</span>
            </div>
            <div class="fullfill langop" data-lang="de">
              <span class="center">Deutsch</span>
            </div>
            <div class="fullfill langop" data-lang="fr">
              <span class="center">French</span>
            </div>
            <div class="fullfill langop" data-lang="it">
              <span class="center">Italian</span>
            </div>
          </div>
        </div>
      </div>
    </div>



{% block pregroup %}{% endblock %}

<script type="text/javascript" src="{% static 'orange/js/nav.js' %}"></script>

  </body>
</html>
