{% load static %}
<link rel="stylesheet" href="{% static 'orange/css/new_event.css' %}">

<div class="neweventpage" id="neweventpage">
  <div class="neweventhouse">
    <div class="topbar">
      <div class="x togevent"><div class="xclip"></div></div>
    </div>
    <form id="neweventform" class="neweventform" enctype="multipart/form-data" method="post" action="{% url 'newevent' %}">
      {% csrf_token %}
      <input id="nameinput" class="eventinput required" type="text" name="name" value="" placeholder="{{eventform.name}}">
      <input id="descriptioninput" class="eventinput required"  type="text" name="description" value="" placeholder="{{eventform.des}}">
      <input id="descriptionshortinput" class="eventinput required"  type="text" name="descriptionshort" value="" placeholder="Short Description">
      <input id="additionalinfoinput" class="eventinput required"  type="text" name="additionalinfo" value="" placeholder="{{eventform.add}}">
      <select class="eventinput" name="orgselect" id="orgselect">
        <option value="none">{{eventform.host}}</option>
        {% for orgo in orgs %}
        <option value="{{orgo.name}}">{{orgo.name}}</option>
        {% endfor %}
      </select>
      <input id="priceinput" class="eventinput"  type="text" name="price" value="" placeholder="{{eventform.price}}">
      <input class="eventinput"  type="file" name="pic" value="">
      <input id="linkinput" class="eventinput"  type="text" name="link" value="" placeholder="{{eventform.linkto}}">
      <input id="linktoinput" class="eventinput"  type="text" name="linkto" value="" placeholder="{{eventform.linkdes}}">
      <input type="text" name="from" value="{{redirect}}" hidden>
      <button id="submitevent" type="submit" name="button" class="eventbutton">
        <div class="center">
          {{eventform.post}}
        </div>
      </button>
    </form>
  </div>
</div>



<script type="text/javascript" src="{% static 'orange/js/new_event.js' %}"></script>
